@font-face {
    font-family:'Raleway';
    src: url(fonts/raleway/Raleway-Regular.ttf);
}

html{
    height:100%;
}

body{
   display:flex;
   height:100%;
   font-family: Raleway;
   margin:0px;
   padding:0px;
}
.image{
    float:left;
    height:100%;
    width:35%;
    background-size:cover;
    background-image: url("images/sasha-putsyk-S5_jTa1CIh0-unsplash.jpg");
}



.logo{
    width: 100px;
    height:100px;
}
.formDiv{
    width:100%;
    padding:100px;
}

.formInputs, .input:empty ,.input:focus{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap:10px;
    background-color: #FAF9F6;
    width:100%;
    padding:20px;
    justify-content: center;
    align-items:center;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}


.text,label{
    background-color: #FAF9F6;
    display:block;
    margin:10px;
    outline: 0;
    height:25px;
    border-width: 0 0 2px;
    border-color: black;
    transition: border-color 0.3s;
    transition:border .3s;
}

.text:focus{
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    border: 0 0 2px;
    border-color:blue;

}

.submit{
    margin:50px;
    height:50px;
    width:150px;
    border-radius: 5px;
    border:none;
    background-color: #966c98;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    transition: background-color 0.3s;
}
    


.submit:hover{
    background-color: #853056;
}




.opaque{
    display: flex;
    background-color: rgba(0,0,0,0.75);
    opacity: .8;
    height:100px;
    width:35%;
    position:fixed;
    margin-top:135px;
    align-items: center;
    justify-content: center;

}


.info{
    display:flex;
    min-width: 0px;
    flex-direction: column;
    float:right;
    display:flex;
    width:65%;
    justify-content: center;
    align-items: center;
}

.credit{
    display:inline;
    justify-content: end;
    color:white;
    position: absolute;
    text-align:center;
    bottom:0;
    width:35%;
    
}


a{
    color:white;
}

.pageCredit{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom:0;
    margin-left:10px;
    background-color: #D3D3D3;
    width:65%;
    padding:5px;
    -webkit-box-shadow: 1px -12px 15px -8px rgba(211,211,211,1);
-moz-box-shadow: 1px -12px 15px -8px rgba(211,211,211,1);
box-shadow: 1px -12px 15px -8px rgba(211,211,211,1);
}

.ivan{
margin: 15px;
}

.github{
    height:50px;
}

@media (max-width:540px) {
    body {
        height:200%;
        margin:0px;
        padding:0px;
      display:flex;
      flex-direction: column;
    }
    .image{
        height:100%;
        width:100%;
        background-size:cover;
        background-image: url("images/sasha-putsyk-S5_jTa1CIh0-unsplash.jpg");
    }
    .opaque{
        width:100%;
        position:relative;
    }
    .credit{
        width:100%;
    }
    .logo{
    }
    .info{
        margin:0px;
        padding:0px;
        height:100%;
        width:100%;
    }
    .bannerInfo{
        align-items: center;
    }
    .pageCredit{
        margin:0px;
        padding:5px;
        position:fixed;
        bottom:0;
        width:100%;
    }
 }